<!--                                                                           -->
<!--    GNU General Public License: https://www.gnu.org/licenses/gpl-3.0.txt   -->
<!--                                                                           -->

## nofilter(TidyAll::Plugin::BuzzDesk::Legal::LicenseValidator)
## nofilter(TidyAll::Plugin::BuzzDesk::Legal::UpdateBuzzDeskCopyright)
