
%defattr(-, buzzdesk, [% webgroup %], -)
%config(noreplace) /opt/buzzdesk/Kernel/Config.pm
%attr(-, buzzdesk, root,) %config(noreplace) /opt/buzzdesk/.procmailrc
%config(noreplace) /opt/buzzdesk/.fetchmailrc
%config(noreplace) /opt/buzzdesk/.mailfilter

%dir /opt/buzzdesk
/opt/buzzdesk/RELEASE
/opt/buzzdesk/ARCHIVE
/opt/buzzdesk/.bash_completion
/opt/buzzdesk/.procmailrc.dist
/opt/buzzdesk/.fetchmailrc.dist
/opt/buzzdesk/.mailfilter.dist

%dir /opt/buzzdesk/Custom/
/opt/buzzdesk/Custom/README

%dir /opt/buzzdesk/Kernel/

%dir /opt/buzzdesk/Kernel/Config/
/opt/buzzdesk/Kernel/Config.pm.dist
/opt/buzzdesk/Kernel/Config.pod
/opt/buzzdesk/Kernel/Config/Files/
/opt/buzzdesk/Kernel/Config/Defaults.pm

/opt/buzzdesk/Kernel/GenericInterface*

/opt/buzzdesk/Kernel/Language.pm
%dir /opt/buzzdesk/Kernel/Language/
/opt/buzzdesk/Kernel/Language/*.pm

/opt/buzzdesk/bin*
/opt/buzzdesk/Kernel/Autoload*
/opt/buzzdesk/Kernel/Modules*
/opt/buzzdesk/Kernel/Output*
/opt/buzzdesk/Kernel/System*
/opt/buzzdesk/scripts*
/opt/buzzdesk/i18n/BuzzDesk/*

%dir /opt/buzzdesk/var/
# TEMPROARILY DEACTIVATED. There are no packages to embed at present.
#%dir /opt/buzzdesk/var/packages/
#/opt/buzzdesk/var/packages/*.opm
%dir /opt/buzzdesk/var/article/
/opt/buzzdesk/var/fonts/
/opt/buzzdesk/var/httpd/
%dir /opt/buzzdesk/var/cron/
%dir /opt/buzzdesk/var/log/
%dir /opt/buzzdesk/var/sessions/
%dir /opt/buzzdesk/var/spool/
/opt/buzzdesk/var/cron/*
%dir /opt/buzzdesk/var/tmp/
%dir /opt/buzzdesk/var/stats/
/opt/buzzdesk/var/stats/*.xml
%dir /opt/buzzdesk/var/stats/formatdefinition/excel/
/opt/buzzdesk/var/stats/formatdefinition/excel/*
%dir /opt/buzzdesk/var/processes/examples/
/opt/buzzdesk/var/processes/examples/*
%dir /opt/buzzdesk/var/webservices/examples/
/opt/buzzdesk/var/webservices/examples/*.pm
/opt/buzzdesk/var/webservices/examples/*.yml

/opt/buzzdesk/Kernel/cpan-lib*

%doc /opt/buzzdesk/*.md
%doc /opt/buzzdesk/COPYING
%doc /opt/buzzdesk/COPYING-Third-Party
%doc /opt/buzzdesk/doc*
