export BUZZDESKUSER=buzzdesk

[% '#' %] note
HOST=`hostname -f`
echo ""
echo "Next steps: "
echo ""
echo "[restart web server]"
echo " systemctl restart [% WebServiceName || 'apache2.service' %]"
echo ""
echo "[install the BuzzDesk database]"
echo " Make sure your database server is running."
echo " Use a web browser and open this link:"
echo " http://$HOST/buzzdesk/installer.pl"
echo ""
echo "[start BuzzDesk daemon and corresponding watchdog cronjob]"
echo " /opt/buzzdesk/bin/buzzdesk.Daemon.pl start"
echo " /opt/buzzdesk/bin/Cron.sh start"
echo ""
